*{
  margin-left: 20px;
}
h1{
  text-align: center;
  text-decoration: underline;
}
p.image-search, .form1{
  display: inline;
}
img{
  width: 400px;
  height: 300px;
}
input.textarea{
  width: 400px;
  height: 150px;
}